.box-container {
    display: flex;
}

.box {
    width: 100px;
    height: 100px;
    border: 2px solid #000;
    background:  rgba(255, 255, 0, 0.7);
    /* animation이 지속될 시간과 동작에 대해 정의 */
    transition: 1s;
    /* 2번째 시간은 애니메이션 실행을 지연시킬 시간을 정의 */
    transition: 1s 2s;
}

.box:hover {
    transform: scale(2);
}

/* 숫자 값에 대해서 적용을 할 수 있음 */